<!-- Banner section -->
<section class="banner-section">
	<div class="container">
		<div class="banner set-bg" data-setbg="/tasaryericom/img/banner-bg.jpg">

			<!-- <span>YENİ GELENLER</span> -->
			<h2>bıze katılın!</h2>
			<a href="/Register/Index/" class="site-btn">ŞİMDİ ÜYE OL!</a>
		</div>
	</div>
</section>
<!-- Banner section end  -->
