<!-- Footer section -->
<section class="footer-section">
	<div class="container">
		<div class="footer-logo text-center">
			<a href="/Home/Index"><img src="/tasaryericom/img/logo/logosvg.png" alt=""></a>
		</div>
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<div class="footer-widget about-widget">
					<h2>HAKKIMIZDA</h2>
					<p>Sitemizin amacı ticarete atılmak isteyen, kendi el emeğini değerlendirmek isteyen herkesin sitemizde ürünlerinin satışını gerçekleştirebilmesidir. Ayrıca bu el emeği ürünleri satın alıp destek olmak isteyen alıcılar da ürünleri satın alarak destek olabilirler.</p>
					<img src="img/cards.png" alt="">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="footer-widget about-widget">
					<h2>SORULAR</h2>
					<ul>
						<li><a href="">Üyelik</a></li>
						<li><a href="">İptal & Değişim</a></li>
						<li><a href="">Kargo & Teslimat</a></li>


					</ul>
					<ul>
						<li><a href="">Bize Ulaşın</a></li>
						<li><a href="">Gizlilik & Güvenlik</a></li>
						<li><a href="">Mesafeli Satış Sözleşmesi</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-sm-6">
				<div class="footer-widget contact-widget">
					<div class="con-info">
						<span><i class="fa fa-building"></i></span>
						<p>TASAR YERİ  </p>
					</div>
					<div class="con-info">
						<span><i class="fa fa-map-pin"></i></span>
						<p>ŞİŞLİ/İSTANBUL </p>
					</div>
					<div class="con-info">
						<span><i class="fa fa-phone"></i></span>
						<p>+53 345 7953 32453</p>
					</div>
					<div class="con-info">
						<span><i class="fa fa-envelope"></i></span>
						<p>office@tasaryeri.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="social-links-warp">
		<div class="container">
			<div class="social-links">
				<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
				<a href="" class="google-plus"><i class="fa fa-globe"></i><span>tasaryeri.com</span></a>
				<!-- <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
				<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a> -->
				<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
				<!-- <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
				<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a> -->
			</div>

			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır.   <a href="https://colorlib.com" target="_blank"></a></p>
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. <i class="fa fa-heart-o" aria-hidden="true"></i> -->

		</div>
	</div>
</section>
<!-- Footer section end -->