<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>
<!-- Page Preloder end -->
<!-- Header section -->
<header class="header-section">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 text-center text-lg-left">
					<!-- logo -->
					<a href="/Home/Index/" class="site-logo">
						<img src="/tasaryericom/img/logo/logominii.png" alt="">
					</a>
				</div>
				<div class="col-xl-6 col-lg-5">
					<form class="header-search-form">
						<input type="text" placeholder="Arama yapın....">
						<button><i class="flaticon-search"></i></button>
					</form>
				</div>
				<div class="col-xl-4 col-lg-5">
					<div class="user-panel">
						<div class="up-item">
							@await Component.InvokeAsync("GetAccountName")
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="main-navbar">
		<div class="container">
			<!-- menu -->
			<ul class="main-menu">
				<li><a href="/Home/Index">Ana sayfa</a></li>
				<li><a href="/Product/Index">Ürünler</a></li>
				<li><a href="/Contact/Index">İletişim</a></li>
			</ul>
		</div>
	</nav>
</header>
<!-- Header section end -->