@model Message
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_SellerDashboardLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>

            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12 animated fadeInRight">
                        <div class="mail-box-header">
                            <div class="float-right tooltip-demo">
                                @* <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a> *@
                        <a href="/Message/Inbox/" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Vazgeç</a>
                            </div>
                            <h2>
                                Mesaj Oluştur
                            </h2>
                        </div>
                        <div class="mail-box">


                            <div class="mail-body">
                                <form class="form-group" asp-action="SendMessage" asp-controller="Message"  method="post">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Kimden:</label>
                                            <div class="col-sm-10">
                                            <input type="text" class="form-control" disabled value="@ViewBag.userMail" asp-for="SenderId">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Kime:</label>
                                            <div class="col-sm-10">
                                            @Html.DropDownListFor(x=>x.ReceiverId, (List<SelectListItem>)ViewBag.RecieverUser, new{@class="form-control"})
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Konu:</label>
                                            <div class="col-sm-10">
                                            <input type="text" class="form-control" asp-for="Subject">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Mesaj:</label>
                                            <div class="col-sm-10">
                                            <textarea type="text" class="form-control" rows="5"  asp-for="MessageDetails"></textarea>
                                            </div>
                                        </div>
                                        <br/>
                            <div class="form-group row" style="margin-left:1150px">
                                                    <button class="btn btn-primary btn-sm float-right"><i class="fa fa-pencil-              square-o" aria-hidden="true"></i> Gönder </button>

                                            
                                        </div>
                                    
                                 </form>
                       


                            </div>
                        </div>
                </div>
            </div>
          </div>


    <!-- Mainly scripts -->
    <script src="/Satici_dashboard/js/jquery-3.1.1.min.js"></script>
    <script src="/Satici_dashboard/js/popper.min.js"></script>
    <script src="/Satici_dashboard/js/bootstrap.js"></script>
    <script src="/Satici_dashboard/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Satici_dashboard/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/Satici_dashboard/js/inspinia.js"></script>
    <script src="/Satici_dashboard/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="/Satici_dashboard/js/plugins/iCheck/icheck.min.js"></script>

    <!-- SUMMERNOTE -->
    <script src="/Satici_dashboard/js/plugins/summernote/summernote-bs4.js"></script>

    <script>
        $(document).ready(function () {

            $('.summernote').summernote();

        });

    </script>
</body>

</html>
