@model List<Product>
@{
	ViewData["Title"] = "TASAR YERİ";
}
<!DOCTYPE html>
<html lang="zxx">
<body>
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Kategoriler</h4>
			<div class="site-pagination">
				<a href="">Ana Sayfa</a> /
				<a href="/Product/Index">Kategoriler</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->
	<!-- Category section -->
	<section class="category-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					@await Component.InvokeAsync("CategoryList")
				</div>
				<div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
					<div class="row">
						@foreach (var item in Model)
						{
							<div class="col-lg-4 col-sm-6">
								<div class="product-item">
									<div class="pi-pic">
										<a href="/Product/ProductDetail/@item.ProductId/"><img src="@item.ImageUrl" alt=""></a>
										<div class="pi-links">
											<a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
											<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
										</div>
									</div>
									<div class="pi-text">
										<h6>@item.Price <i class="fa fa-try" aria-hidden="true"></i></h6>
										<p>@item.ProductName</p>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Category section end -->
	<!-- Banner section -->
	<partial name="/Views/Shared/Partials/_BannerPartial.cshtml" />
	<!-- Banner section end  -->
</body>
</html>

