@model List<Category>
<div class="filter-widget">
	<h2 class="fw-title">Kategoriler</h2>
	<ul class="category-menu">

		<li>
			<a href="/Product/Index">Tüm Ürünler</a>
		</li>
		@foreach (var item in Model)
		{
			<li>
				<a href="/Product/ProductByCategoryId/@item.CategoryId">@item.CategoryName</a>
			</li>
		}


	</ul>
</div>
	

