<h2 class="fw-title">Hesabım</h2>
<ul class="category-menu">
	<li>
		<a href="/MyAccount/Index">Profil Bilgileri</a>
		<ul class="sub-menu">
			
			<li><a href="/MyAccount/EditProfile">Profil Bilgilerini Düzenle</a></li>

		</ul>
	</li>
	<li>
		<a href="/MyAccount/OrderInfo">Sipariş Bilgileri</a>
		<ul class="sub-menu">
			@* 									
			<li><a href="#">Kargo Takip <span>(2)</span></a></li>
			<li><a href="#">Tüm Siparişler <span>(2)</span></a></li> *@

		</ul>
	</li>
	<li><a href="/Product/Favorites">Favoriler</a></li>
	<li>
		<a href="">Mesajlar</a>
		<ul class="sub-menu">
			<li><a href="/Message/MemberInbox/">Gelen Kutusu</a></li>
			<li><a href="/Message/MemberSendBox/">Giden Kutusu</a></li>
			<li><a href="/Message/MemberSendMessage/">Mesaj At</a></li>

		</ul>
	</li>
</ul>