<!DOCTYPE html>
<html lang="zxx">
<partial name="/Views/Shared/AdminPartials/_HeadPartial.cshtml" />
<body>
    <div id="wrapper">

        <partial name="/Views/Shared/AdminPartials/_NavbarPartial.cshtml" />

        <partial name="/Views/Shared/AdminPartials/_HeaderNavbarPartial.cshtml" />
        @RenderBody()

        <partial name="/Views/Shared/AdminPartials/_FooterPartial.cshtml" />


    </div>



</body>

</html>