@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<partial name="/Views/Shared/Partials/_HeadPartial.cshtml" />
<body>

	<partial name="/Views/Shared/Partials/_HeaderPartial.cshtml" />

	@RenderBody()

	<partial name="/Views/Shared/Partials/_FooterPartial.cshtml" />


	<!--====== Javascripts & Jquery ======-->
	<script src="~/tasaryericom/js/jquery-3.2.1.min.js"></script>
	<script src="~/tasaryericom/js/bootstrap.min.js"></script>
	<script src="~/tasaryericom/js/jquery.slicknav.min.js"></script>
	<script src="~/tasaryericom/js/owl.carousel.min.js"></script>
	<script src="~/tasaryericom/js/jquery.nicescroll.min.js"></script>
	<script src="~/tasaryericom/js/jquery.zoom.min.js"></script>
	<script src="~/tasaryericom/js/jquery-ui.min.js"></script>
	<script src="~/tasaryericom/js/main.js"></script>

</body>

</html>