<!DOCTYPE html>
<html lang="zxx">
<partial name="/Views/Shared/SellerDashboardPartials/_HeadPartial.cshtml" />
<body>
    <div id="wrapper">

    <partial name="/Views/Shared/SellerDashboardPartials/_NavbarPartial.cshtml" />

	<partial name="/Views/Shared/SellerDashboardPartials/_HeaderNavbarPartial.cshtml" />
	@RenderBody()

    <partial name="/Views/Shared/SellerDashboardPartials/_FooterPartial.cshtml" />

    
    </div>



</body>

</html>